body{
  margin:0;
  font-family:Arial;
}

nav{
  background-color:black;
  color:white;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px;
}

ul{
  display:flex;
  gap:20px;
  list-style:none;
}

h2{
  text-align:center;
  margin-top:50px;
}